<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sean Zweifel, A Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="">
        <header class="">
            <h2>
                <a href="/aboutme">About Me</a>
            </h2>
            <h2>
                <a href="/resume">My Resume</a>
            </h2>
            <h2>
                <a href="#">Project 1</a>
            </h2>
            <h2>
                <a href="#">Project 2</a>
            </h2>
            <h2>
                <a href="#">Project 3</a>
            </h2>
            <h2>
                <a href="#">Project 4</a>
            </h2>
            <h2>
                <a href="#">Project 5</a>
            </h2>
        </header>
    </div>


</body>